body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-panel {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#player1-wins, #player2-wins {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

.azul {
    background-color: #3498db;
    color: #fff;
}

.preto {
    color: #000;
}
.pc{
    padding: 100%;
}